@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.title {
  height: 10vh;
  text-align: center;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container {
  width: 85vw;
  margin: auto;
  max-width: 800px;
}

.container .map {
  width: 100vw;
  height: 90vh;
  position: absolute;
  left: 0;
  z-index: -1;
}

.container .map iframe {
  width: 100%;
  height: 100%;
}

.container .matchedFood {
  width: 50vw;
  max-width: 600px;
  bottom: 10vh;
  right: 10vw;
  margin: 2em;
  border-radius: 1em;
  text-align: center;
  background: #fff;
  position: absolute;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container .matchedFood .text {
  padding: 1em;
}

.container .matchedFood .text span {
  color: #929292;
}

.container .matchedFood table {
  border-radius: 1em;
  width: 100%;
  border-top: 1em solid #000;
  border-bottom: 1em solid #000;
  border-collapse: collapse;
}

.container .matchedFood table td {
  padding: 1em;
  border-bottom: 1px solid #929292;
}

.container .matchedFood table td:first-child {
  text-align: left;
}

.search {
  position: fixed;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .suggestion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .suggestion ul li {
  cursor: pointer;
  list-style: none;
  background-color: #fff;
  padding: .1em 1em;
  border-radius: 1em;
  margin: .5em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.searchBar {
  height: 10vh;
  width: 100vw;
  background-color: #000;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar input {
  border-radius: 1em;
  max-width: 600px;
  border: none;
  width: 85%;
  font-size: 1em;
  padding: .5em 1em;
}
/*# sourceMappingURL=main.css.map */